#body {
  background-color: brown;
}

#titleDiv {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: beige;
  font-size: 36px;
  font-weight: 500;
}

#fanshuSetting {
  width: 70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.input {
  width: 60px;
}

#smallestfan {
  margin-right: 10px;
}

.label {
  margin-right: 5px;
}

#instruction {
  font-size: 17px;
}

#homeDiv {
  width: 70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.button {
  background-color: beige;
  color: black;
  font-size: 16px;
  width: 120px;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

/* #copyrightDiv {
  width: 70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-size: 12px;
} */

@media only screen and (max-width: 1200px) {
  #titleDiv {
    font-size: 36px;
  }

  #fanshuSetting {
    font-size: 20px;
  }

  .input {
    width: 60px;
  }

  #instruction {
    font-size: 17px;
  }

  .button {
    font-size: 16px;
    width: 120px;
  }
}

@media only screen and (max-width: 1000px) {
  #titleDiv {
    font-size: 36px;
  }

  #fanshuSetting {
    font-size: 20px;
  }

  .input {
    width: 60px;
  }

  #instruction {
    font-size: 17px;
  }

  .button {
    font-size: 16px;
    width: 120px;
  }
}

@media only screen and (max-width: 800px) {
  #titleDiv {
    font-size: 36px;
  }

  #fanshuSetting {
    font-size: 20px;
  }

  .input {
    width: 60px;
  }

  #instruction {
    font-size: 17px;
  }

  .button {
    font-size: 16px;
    width: 120px;
  }
}

@media only screen and (max-width: 600px) {
  #titleDiv {
    font-size: 32px;
  }

  #fanshuSetting {
    font-size: 18px;
  }

  .input {
    width: 60px;
  }

  #instruction {
    font-size: 15px;
  }

  .button {
    font-size: 15px;
    width: 110px;
  }
}

@media only screen and (max-width: 400px) {
  #titleDiv {
    font-size: 28px;
  }

  #fanshuSetting {
    font-size: 16px;
  }

  .input {
    width: 50px;
  }

  #instruction {
    font-size: 13px;
  }

  .button {
    font-size: 14px;
    width: 100px;
  }
}
